@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: ligh) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color:#AA546D;
  }
}

.primary-color{
  color:var(--color-primary);
}

body {
  background-color:  #D8D9DB;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Dentro de globals.css */

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Altura de la barra de navegación */
  background-color: #AA546D; /* Color de fondo */
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.05); /* Sombra */
}
